#about.background.messageUp
  .content
    h1 Artists &amp; Writers for Comic Book Collaboration
    p.
      We are looking for queensland-based comic artists &amp; writers to contribute to a non-profit collaborative project. This is your opportunity to showcase your work in a new magazine distributed in the greater brisbane area &amp; beyond.  

    a.greenButton.goback(href='#') Awesome!
