#donate.background
  .toolbar
    h1 Donate
    a.back.fade(href='#') Back
  .content.center
    ul.rounded.plastic
      li
        h2 Support local talent&hellip; Donate to Ashcan!
      li
        include templates/donate.html
