#home
  .toolbar
    h1 Ashcan Comics
    a.infoButton.button.slideup(href='#about') About
    a.menuButton.button.leftButton.slideright(href='#menu') Menu
  .inject

  footer
    p 
      small &copy; Copyright Ashcan 2011-2012
include templates/swipe-comics.html
