#menu
  .toolbar
    h1 Ashcan
    a.menuButton.button.goback.rightButton.slideright(href='#menu', style='') Back
  ul.rounded
    li.arrow
      a.slideleft(href='#home', style='') Home
    li.arrow
      a.slideleft(href='#news', style='') News
    li.arrow
      a.slideleft(href='#donate', style='') Donate
    li.arrow
      a.slideup(href='#about', style='') About
    li.arrow
      a.slideup(href='mailto:zac@ashcan.com.au', style='') Contact
