#news
  .toolbar
    h1 Ashcan News
    a.back.slideleft(href='#') Back
  .scroll
    ul.rounded
      li.arrow
        a.slideLeft(href="#news-1")
          span Site Update!
          small.counter 14/4/2001

include news/1.html
